.form-control {
  border: 1px solid lightgray;
  padding: .5rem;
}

.table-container {
  padding: 1rem;
}

.design-table {
  padding: 0 1rem;
  background-color: white;
  border: 1px solid lightgray;
}

.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

th {
  font-weight: bold;
}