.count-select {
  border: 1px solid lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  min-width: 200px;
}

.pass-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}