<div *ngIf="flight">
    <form (ngSubmit)="bookFlight()" novalidate>
        <h2>Book Flight</h2>
        <div>
            <p>Origin:{{ flight.origin }} </p>
            <p>Destination:{{ flight.destination }} </p>
            <p>Boarding: {{ flight.boarding_date }} - {{ flight.boarding_time }} </p>
            <p>Landing: {{ flight.arrival_date }} - {{ flight.arrival_time }}</p>
        </div>
        <mat-select [(value)]="munPass" class="count-select"
                (valueChange)="declarePassengers($event)" placeholder="Passenger Count">
            @for (item of [1, 2, 3, 4, 5]; track item) {
                <mat-option [value]="item">{{ item }}</mat-option>
            }
        </mat-select>

        <div class="pass-details"
             *ngFor="let passenger of passenger_details; let i = index">
            <p>
                Passenger {{ i + 1 }}
            </p>
            <mat-form-field>
                <mat-label for="full_name">Full name</mat-label>
                <input name="full_name" [(ngModel)]="passenger_details[i].full_name" required matInput type="text"
                       class="form-control" id="full_name"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="passport_number">Passport Number</mat-label>
                <input name="passport_number" [(ngModel)]="passenger_details[i].passport_number" required matInput
                       type="text" class="form-control" id="full_name"/>
            </mat-form-field>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>