.table-container {

}

.booking-card-container {
  display: flex;
  gap: 1rem;
}

.booking-card {
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.design-table {
  padding: 0 1rem;
  background-color: white;
  border: 1px solid lightgray;
}

.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

th {
  font-weight: bold;
}