.navigation {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem;
  background-color: #FF68B4;
  color: #fff;
}

.navigation-menu {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}